.board {
  position: fixed;
  top: 150px;
  left: 300px;
  width: 550px;
  height: 600px;

}

.game-info {
  position: fixed;
  top: 140px;
  left: 305px;
}

.board-init {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  row-gap: 5px;
  column-gap: 5px;
  padding-top: 20px;
}

.cell {
  background-color: slategrey;
  height: 50px;
  width: 50px;
  border-radius: 10%;
  box-shadow: 3px 3px #000000;
}

.cell::after {
  background-color: lightgray;
}

.cell:hover {
  background: cornflowerblue;
}

.cell:active {
  background: coral;
}

.cell:visited {
  background: lightgrey;
}